<h2>Asesinos en serie</h2>
        <hr>
        <div class="box_container_1">

            <div class="box_1">
                <div class="content">
                    <img [src]="'assets/scream.png'">
                    <div class="titulo_pelicula"><h3>SCREAM</h3></div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi perferendis quaerat nisi, enim explicabo voluptatem sapiente cupiditate saepe, facilis illo quasi soluta. Inventore soluta distinctio delectus labore, incidunt commodi nemo?
                    </p>
                </div>
            </div>

            <div class="box_1">
                <div class="content">
                    <img [src]="'assets/hannibal.png'">
                    <div class="titulo_pelicula"><h3>HANIBAL</h3></div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi perferendis quaerat nisi, enim explicabo voluptatem sapiente cupiditate saepe, facilis illo quasi soluta. Inventore soluta distinctio delectus labore, incidunt commodi nemo?
                    </p>
                </div>
            </div>

            <div class="box_1">
                <div class="content">
                    <img [src]="'assets/texas.png'">
                    <div class="titulo_pelicula"><h3>LA MASACRE DE TEXAS</h3></div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi perferendis quaerat nisi, enim explicabo voluptatem sapiente cupiditate saepe, facilis illo quasi soluta. Inventore soluta distinctio delectus labore, incidunt commodi nemo?
                    </p>
                </div>
            </div>


        <div class="load_more" id="load_more_1">cargar mas terror</div>



    <section class="movies container">
        <h2>Del más allá</h2>
        <hr>
        <div class="box_container_2">

            <div class="box_2">
                <div class="content">
                    <img [src]="'assets/conjuro.png'">
                    <h3>EL CONJURO</h3>
                    <div class="resena">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi perferendis quaerat nisi, enim explicabo voluptatem sapiente cupiditate saepe, facilis illo quasi soluta. Inventore soluta distinctio delectus labore, incidunt commodi nemo?
                        </p>
                    </div>
                </div>
            </div>

            <div class="box_2">
                <div class="content">
                    <img [src]="'assets/exorcista.png'">
                    <h3>EL EXORCISTA</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi perferendis quaerat nisi, enim explicabo voluptatem sapiente cupiditate saepe, facilis illo quasi soluta. Inventore soluta distinctio delectus labore, incidunt commodi nemo?
                    </p>
                </div>
            </div>

            <div class="box_2">
                <div class="content">
                    <img [src]="'assets/demonio.png'">
                    <h3>LA NOCHE DEL DEMONIO</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi perferendis quaerat nisi, enim explicabo voluptatem sapiente cupiditate saepe, facilis illo quasi soluta. Inventore soluta distinctio delectus labore, incidunt commodi nemo?
                    </p>
                </div>
            </div>

            
        <div class="load_more" id="load_more_2">cargar mas terror</div>



    <section class="movies container">
        <h2>Gore</h2>
        <hr>
        <div class="box_container_2">

            <div class="box_3">
                <div class="content">
                    <img [src]="'assets/saw.png'">
                    <h3>SAW: JUEGO MACABRO</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi perferendis quaerat nisi, enim explicabo voluptatem sapiente cupiditate saepe, facilis illo quasi soluta. Inventore soluta distinctio delectus labore, incidunt commodi nemo?
                    </p>
                </div>
            </div>

            <div class="box_3">
                <div class="content">
                    <img [src]="'assets/hostel.png'">
                    <h3>HOSTEL</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi perferendis quaerat nisi, enim explicabo voluptatem sapiente cupiditate saepe, facilis illo quasi soluta. Inventore soluta distinctio delectus labore, incidunt commodi nemo?
                    </p>
                </div>
            </div>

            <div class="box_3">
                <div class="content">
                    <img [src]="'assets/destino.png'">
                    <h3>DESTINO FINAL</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi perferendis quaerat nisi, enim explicabo voluptatem sapiente cupiditate saepe, facilis illo quasi soluta. Inventore soluta distinctio delectus labore, incidunt commodi nemo?
                    </p>
                </div>
            </div>

            
        <div class="load_more" id="load_more_2">cargar mas terror</div>

