<header class="header">
    <div class="menu">
        <a href="#" class="logo">Pesadilla en Pantalla <br> Donde el miedo se hace cine</a>
        <input type="checkbox" id="menu"/>
        <label for="menu">
            <img [src]="'assets/menu.png'">
        </label>
        <nav class="navbar">
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">PELICULAS</a></li>
                <li><a href="#">RECOMIENDA</a></li>
            </ul>
        </nav>
        <a href="#" class="btn_1">login</a>
    </div>
    <div class="header_content_contanair">
        <div class="header_1">
            <img [src]="'assets/Halloween.png'">
            <a href="#" class="btn_2"> VER AHORA</a>
        </div>
        <div class="header_2">
            <h1>
                Las mejores <br>Sagas de Terror</h1>
                <img [src]="'assets/play.png'">

        </div>
    </div>
</header>

<header class="opciones">
    <div class="organizador">
        <button id="organizarPorTitulo">Organizar por Título</button>
    </div>
    <div class="buscador">
        <input type="text" id="busquedaTitulo" placeholder="Buscar por título">
        <button id="botonBuscar">Buscar</button>
    </div>
    
</header>

